@page "{id:int?}"
@using Microsoft.AspNetCore.Authorization
@using TwoHr.Localization
@using TwoHr.Permissions
@using TwoHr.Web.Pages.Employees
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.SignalR
@model IndexModel
@inject IStringLocalizer<TwoHrResource> L
@inject IAuthorizationService AuthorizationService
@section scripts
{
    <abp-script type="typeof(SignalRBrowserScriptContributor)" />
    <abp-script src="/Pages/Employees/Index.js" />    
}
<abp-card>        
    <abp-card-header>        
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title><h2>@L["Employees"]</h2></abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await AuthorizationService.IsGrantedAsync(TwoHrPermissions.Employees.Create))
                {
                    <abp-button id="NewEmployeeButton"
                            text="@L["NewEmployee"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="EmployeesTable"></abp-table>
    </abp-card-body>       
</abp-card>